*{
    padding: 0;
    margin: 0;
    
}

body{
    background-color: #0087BE;
    
    
}

wrapper{
    
    
    
}


header {
    height: 200px;
    width: 100%;
    background-color: #D94F4F;
    margin-bottom: 30px;
    border-bottom: black solid 3px;
    border-right: black solid 3px;
    border-top: black inset 3px;
    border-left: black solid 3px;
    
}


#content {
    height: 500px;
    width: 69%;
    float: left;
    background-color: #E9EFF3;
    box-sizing:border-box;
    margin-right: 2%;
    border-top: black inset 4px;
    border-bottom: black inset 4px;
    border-left: black inset 4px;
    border-right: black inset 4px;
    margin-bottom: 30px;
    
}

#content2 {
    height: 500px;
    width: 69%;
    float: left;
    background-color: #E9EFF3;
    box-sizing:border-box;
    margin-right: 2%;
    border-bottom: black solid 4px;
    border-right: black solid 4px;
    border-top: black solid 4px;
    border-left: black solid 4px;
    margin-bottom: 30px;
    
}

aside{
    height: 1030px;
    width: 29%;
    float: right;
    background-color: #4F748E;
    box-sizing:border-box;
    border-bottom: black solid 3px;
    border-right: black solid 3px;
    border-top: black solid 3px;
    border-left: black solid 3px;
    clear: right;
    
    
}

footer{
    height: 200px;
    width: 100%;
    background-color: #2E4453;
    clear: both;
    border-bottom: black solid 3px;
    border-right: black solid 3px;
    border-top: black solid 3px;
    border-left: black solid 3px;
   
        
    
    
}