*{
    padding: 0;
    margin: 0;
    
}

body{
    
    
}

wrapper{
    
    
    
}


header {
    height: 200px;
    width: 100%;
    background-color: #D94F4F;
   
    
}


#content {
    height: 500px;
    width: 69%;
    float: left;
    background-color: #E9EFF3;
    box-sizing:border-box;
    margin-right: 2%;
    border-bottom: gray solid 1px;
   
}

#content2 {
    height: 500px;
    width: 69%;
    float: left;
    background-color: #E9EFF3;
    box-sizing:border-box;
   
    
}

aside{
    height: 1000px;
    width: 29%;
    float: right;
    background-color: #E9EFF3;
    box-sizing:border-box;
  
    clear: right;
    
    
}

footer{
    height: 200px;
    width: 100%;
    background-color: #2E4453;
    clear: both;
  
   
        
    
    
}